*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(src/bgpi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    align-content: center;
}

.col{
    text-align: center;
    padding: 0;
    margin:0;
    color: white;

}
h1.main-text {
    visibility: hidden;
}
.right {
    align-items: center;
}

.left-header {
}



figure img {
    width: auto;
    height: auto;
    padding: 0;
}
